body {
  background-color: #343a40; 
  color: #ffffff; 
}
#panel, #panel1, #panel2 {
  margin-top: 1.2%;
  padding: 2% 2%;
  text-align: center;
  background-color: #343a40;
  border: solid 1px #ffffff;

}
#flip, #flip1, #flip2{
  margin-top: 1.2%;
  padding: 3% 3%;
  text-align: center;
  background-color: #343a40;
  border: solid 1px #ffffff;
}

#panel, #panel1, #panel2{
  padding: 50px;
  display: none;
}
.container10 {
  position: relative;
  width: 40%;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.container10:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
